<div class="fineract-div">product / savings products / create saving
    <div class="example-container mat-elevation-z8">
      <h2>Details</h2>
      <mat-divider></mat-divider>
      <div>
        <div>
          <label>Product Name</label>
            <mat-form-field class="example-full-width">
              <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
              <mat-hint>Required!</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Name is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          
        </div>
        <div>
          <label>Short name</label>
            <mat-form-field class="example-full-width">
              <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
              <mat-hint>Required!</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                short name is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          
        </div>
        <div>
          <label>Description</label>
          <mat-form-field>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
        <h2>Currency</h2>
      <mat-divider></mat-divider>
      <div>
        Currency:
        <mat-form-field>
          <mat-select placeholder="--select one--" [formControl]="animalControl" required>
            <mat-option>--select one--</mat-option>
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{currency.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

        </mat-form-field>
       <label class="example-full-width2"> Decimal places:</label>
        
          <mat-form-field class="example-full-width">
            <input matInput value="2" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Decimal places is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        

      </div>
      <div>
        Multiples of :
        
          <mat-form-field class="example-full-width">
            <input matInput value="0" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              This field is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        

      </div>
      <h2>Terms</h2>
      <mat-divider></mat-divider>
      <div>
          Total Number of Shares:
        
            <mat-form-field class="example-full-width">
              <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
              <mat-hint>Required!</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                This field is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          
  
          
              <label class="example-full-width3">Shares to be issued:</label>
              
                <mat-form-field class="example-full-width">
                  <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                  <mat-hint>Required!</mat-hint>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    This field is
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              
      
            </div>
            <div>
                Norminal Price:
                
                  <mat-form-field class="example-full-width">
                    <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-hint>Required!</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      This field is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                

                <label class="example-full-width3">Capital Value:</label>
                
                  <mat-form-field class="example-full-width">
                    <input disabled matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-hint>Required!</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      This field is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                
        
        
              </div>
              <h2>Settings</h2>
              <mat-divider></mat-divider>
              <div>
                  Shares per Client:
                  
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Minimum" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                     
                    </mat-form-field>
                    <mat-form-field class="example-full-width3">
                        
                        <input matInput placeholder="Default" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                       
                      </mat-form-field>
                      <mat-form-field class="example-full-width4">
                         
                          <input matInput placeholder="Maximum" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                
                        </mat-form-field>
                  
              </div>
              <div>
                  Minimum Active Period:
                  
                    <mat-form-field class="example-full-width">
                      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                  
                    </mat-form-field>
                  
                  
                  <mat-form-field class="example-full-width2">
                    <mat-select placeholder="--select one--">
                      <mat-option>--select one--</mat-option>
                      <mat-option>Days</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div>
                Lock-in Period:
                
                  <mat-form-field class="example-full-width">
                    <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                
                  </mat-form-field>
                
                
                <mat-form-field class="example-full-width2">
                  <mat-select placeholder="--select one--">
                    <mat-option>--select one--</mat-option>
                    <mat-option>Days</mat-option>
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                      {{currency.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                Allow dividends for inactive clients<mat-checkbox></mat-checkbox>
              </div>
             <h2>Market Price</h2>
             <mat-divider></mat-divider>
             <div>Market price periods <button mat-raised-button color="primary">Add</button></div>
             <div>
              <mat-table #table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef> From Date </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a routerLink="{{element.date}}">{{element.date}}</a>
                  </mat-cell>
                </ng-container>
      
                <!-- Name Column -->
                <ng-container matColumnDef="unitprice">
                  <mat-header-cell *matHeaderCellDef> Norminal/unit price </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.unitprice}} </mat-cell>
                </ng-container>
      
                <!-- Weight Column -->
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.action}} </mat-cell>
                </ng-container>
      
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
             </div>
             <h2>Charges</h2>
             <mat-divider></mat-divider>
             <div>
              <mat-form-field>
                <mat-select placeholder="Select charge">
                  <mat-option *ngFor="let charge of charges" [value]="charge.value">
                    {{charge.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="primary">Add</button>
             </div>
             <div>
              <mat-table #table [dataSource]="dataSource">
      
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a routerLink="{{element.name}}">{{element.name}}</a>
                  </mat-cell>
                </ng-container>
      
                <!-- Name Column -->
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                </ng-container>
      
                <!-- Weight Column -->
                <ng-container matColumnDef="amount">
                  <mat-header-cell *matHeaderCellDef>Amount </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="collected">
                  <mat-header-cell *matHeaderCellDef>Collected On</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.collected}} </mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.actions}} </mat-cell>
                </ng-container>
      
      
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
            <h2>Accounting</h2>
            <mat-divider></mat-divider>
            <div>
              <mat-radio-group>
                <mat-radio-button>None</mat-radio-button>
                <mat-radio-button>Cash</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-divider></mat-divider>
            <div>
              <button mat-raised-button color="accent">cancel</button>
              <button mat-raised-button color="primary">submit</button>
            </div>
          </div>
        </div>
      </div>
