.fineract-div{
    margin:50px;
  }
  .example-container{
    padding-left:20px;
}
.fineract-table {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;

  }
  ng-container{
      border:1px solid black;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .fineract-button{
      margin-left:80%;
  }
  