.inner-div{
    display:flex;
    display:inline-block;
    vertical-align: top;
    border:1px solid grey;
    width:40%;
    margin:3%;
    padding:5px; 
}
.fineract-div{
    margin:50px;
  }

.my-div{
    padding-left:20px;
}
