.dropdown-button{

    color:teal;
}
.app-container {
    flex: 1;
    width: 100%;
    height:100%;
    min-width: 100%;
    position:fixed;  
  }
  .my-toolbar{
      height:37px;
  }
  

.app-sidenav-content{
    display:flex;
    height:100%;
    flex-direction:column;
   
}
.app-sidenav{
    display:flex;
    height:100%;
    flex-direction:column;
    background-color: #333333;
    
    
}
mat-list > a{

    color:teal;
}
.fineract-toolicon{
    color:teal;
}
.wrapper{
    margin:50px;
    
}
ul#menu li{
    display: inline;
}
.search1{
    
    margin-left:10%;
    
}
.fineract-toolsearch{
    width:110px;
}
.search2{
    padding-left:0%;
}
.fineract-logo{
    width:40px;
    height:37px;
    
}
.fineract-para2{
    color: aqua;
    text-align: center;

}
.search1,.search2{
    display: inline-block;
}
  
