<div class="fineract-div">System/External Services/View External Service Configuration
  <div class="my-div mat-elevation-z8">
      <a [routerLink]="['/navbar/S3/editconf']">
    <button mat-raised-button color="primary" class="my-button">Edit</button>
      </a>
    <div>
        <mat-table #table [dataSource]="dataSource">
  
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.name}}
            </mat-cell>
          </ng-container>
  
          
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
