
.fineract-para{
    font-size:22px;
    color:gray;
}
.fineract-div{
    color:gray;
}
.example-card{
    width:75%;
    margin-left: 5%;
}

.alist{
    margin-left:70%;
    
}
.header,.alist{
    display: inline-block;
}

.fineract-search{
    width:100%;
}

