<div class="fineract-div">product / product mix
    <div class="example-container mat-elevation-z8">
      <div>
        <button mat-raised-button color="primary" class="fineract-button" [routerLink]="['/navbar/admin/products/productmix/add']"><mat-icon>add</mat-icon>Add</button>
      </div>
      
      <mat-table #table [dataSource]="dataSource">
  
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Product Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a routerLink="{{element.name}}">{{element.name}}</a>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>