fineract-div{
    margin:50px;
  }

.example-container{
    padding-left:20px;
}
.example-full-width2{
    margin-left:250px;
}
.example-full-width3,.example-full-width4{
    margin-left: 50px;
}
.my-div{
    margin-left:45%;
}