<div class="fineract-div">product / loan products / create loan
  <div class="example-container mat-elevation-z8">
    <h2>Details</h2>
    <mat-divider></mat-divider>
    <div>
      
        <label> Product Name:</label>
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Name is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
      
        <label class="example-full-width2"> Short Name:</label>
        <mat-form-field class="">
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            short name is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
    </div>
    <div>
        <label>Description</label>
      <mat-form-field>
       
        <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
      </mat-form-field>
     <label class="example-full-width2"> Fund:</label>
      <mat-form-field>
        <mat-select placeholder="Select fund">
          <mat-option *ngFor="let fund of funds" [value]="fund.value">
            {{ fund.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width2">
        <input matInput [matDatepicker]="picker2" placeholder="Close Date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      Include in customer loan counter
      <mat-checkbox></mat-checkbox>
    </div>
    <h2>Currency</h2>
    <mat-divider></mat-divider>
    <div>
      Currency:
      <mat-form-field>
        <mat-select placeholder="--select one--" [formControl]="animalControl" required>
          <mat-option>--select one--</mat-option>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

      </mat-form-field>
      
      <label class="example-full-width2">Decimal places:</label>
      
        <mat-form-field class="example-full-width">
          <input matInput value="2" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Decimal places is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      

    </div>
    <div>
     <label> Currency in multiples of :</label>
      
        <mat-form-field class="example-full-width">
          <input matInput value="0" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            This field is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
    
    </div>
    <div>
      <label>Installment in multiples of:</label>
      
        <mat-form-field class="example-full-width">
          <input matInput value="" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            this field is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
    </div>
    <h2>Terms</h2>
    <mat-divider></mat-divider>
    Terms vary based on loan cycle
    <mat-checkbox></mat-checkbox>
    <div>
      <label>Principal:</label>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Minimum" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
         
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            this field is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width3">
         
          <input matInput placeholder="Default" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            this field is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width4">
          
          <input matInput placeholder="Maximum" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            this field is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
    </div>
    <div>
      
      <label>Number of Repayments:</label>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Minimum" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            this field is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width3">
          
          <input matInput placeholder="Default" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            this field is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width4">
         
          <input matInput placeholder="Maximum" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            this field is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
    </div>
    <div>
      <mat-checkbox></mat-checkbox>Is linked to floating rates?
    </div>
    <div>
      Norminal interest rate:
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Minimum" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          

        </mat-form-field>
        <mat-form-field class="example-full-width">
          
          <input matInput placeholder="Default" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          
          
        </mat-form-field>
        <mat-form-field class="example-full-width">
          
          <input matInput placeholder="Maximum" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          
        </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Per month">
          <mat-option *ngFor="let period of periods" [value]="period.value">
            {{ period.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      Repaid Every:
      
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Required!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            this field is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
      <mat-form-field class="example-full-width4">
        <mat-select placeholder="Months">
          <mat-option *ngFor="let day of days" [value]="day.value">
            {{ day.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      Minimum days between disbursal and first repayment date
      
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">

        </mat-form-field>
      
    </div>
    <h2>Settings</h2>
    <mat-divider></mat-divider>
    <div>
      Amortization:
      <mat-form-field>
        <mat-select placeholder="Equal installments" [formControl]="animalControl" required>
          <mat-option>Equal installments</mat-option>
          <mat-option *ngFor="let amortization of amortizations" [value]="amortization">
            {{amortization.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">this field is required</mat-error>

      </mat-form-field>
      Interest method:
      <mat-form-field class="example-full-width2">
        <mat-select placeholder="Declining balance" [formControl]="animalControl" required>
          <mat-option>Flat</mat-option>
          <mat-option *ngFor="let method of methods" [value]="method">
            {{method.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">this field is required</mat-error>

      </mat-form-field>
    </div>
    <div>
      Interest calculation period:
      <mat-form-field>
        <mat-select placeholder="Same as repayment period" [formControl]="animalControl" required>
          <mat-option>Daily</mat-option>
          <mat-option *ngFor="let system  of systems" [value]="system">
            {{system.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">this field is required</mat-error>

      </mat-form-field>
      calculate interest for exact days in partial periods
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      Repayment strategy:
      <mat-form-field>
      <mat-select placeholder="Penalties,Fees,Interest,Principal order" [formControl]="animalControl" required>
        <mat-option>Penalties, Fees,Interest,Principal order</mat-option>
        <mat-option *ngFor="let strategy of strategies" [value]="strategy">
          {{strategy.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="animalControl.hasError('required')">this field is required</mat-error>

      </mat-form-field>
    </div>
    <div>
      Moratorium:
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="On principal payment" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          
        </mat-form-field>
        <mat-form-field class="example-full-width3">
          
            <input matInput placeholder="On Interest payment" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          </mat-form-field>
      
    </div>
    <div>
      Interest free period:
      
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        </mat-form-field>
      
      <label class="example-full-width3">Arrears tolerance:</label>
      
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        </mat-form-field>
      
    </div>
    <div>
      Days in year:
      <mat-form-field>
        <mat-select placeholder="Actual" [formControl]="animalControl" required>
          <mat-option>Actual</mat-option>
          <mat-option *ngFor="let yearday of yeardays" [value]="yearday">
            {{yearday.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">this field is required</mat-error>

      </mat-form-field>
     <label class="example-full-width2"> Days in month:</label>
      <mat-form-field>
        <mat-select placeholder="Actual" [formControl]="animalControl" required>
          <mat-option>Actual</mat-option>
          <mat-option *ngFor="let monthday of monthdays" [value]="monthday">
            {{monthday.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')">this field is required</mat-error>

      </mat-form-field>
    </div>
    Allow fixing of the installment amount
    <mat-checkbox></mat-checkbox>
    <div>
      Number of days a loan may be over due before moving into arears:
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="On Arrears Aging" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        </mat-form-field>
      
    </div>
    <div>
      Maximun number of days a loan may be over due before moving into an NPA(non performing asset):
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Overdue Days For NPA" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        </mat-form-field>
      
    </div>
    Amount moves out of NPA only after all arrears have been cleared?
    <mat-checkbox></mat-checkbox>
    <div>
      Principal threshold (%) For Last Installment:
      
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        </mat-form-field>
      
    </div>
    <div>
      <mat-checkbox></mat-checkbox>Is Variable Installments Allowed?
    </div>
    <div>
      <mat-checkbox></mat-checkbox>Is allowed to be used for providing Topup Loans?
    </div>
    <h2>Interest Recalculation</h2>
    <mat-divider></mat-divider>
    <div>
      Recalculate Interest
      <mat-checkbox></mat-checkbox>
    </div>
    <h2>Guarantee Requirments</h2>
    <mat-divider></mat-divider>
    <div>
      place Guarantee Funds On-Hold?
      <mat-checkbox></mat-checkbox>
    </div>
    <h2>Loan Tranche Details</h2>
    <mat-divider></mat-divider>
    <div>
      Enable multiple Disbursal
      <mat-checkbox></mat-checkbox>
    </div>
    <h2>Configuring Terms and Settings</h2>
    <mat-divider></mat-divider>
    <div>
      Allow overriding select terms and settings in loan accounts
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      Amortization
      <mat-checkbox></mat-checkbox>
      <label class="example-full-width2">Interest Method</label>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      Repayment Strategy
      <mat-checkbox></mat-checkbox>
      <label class="example-full-width2">Interest Calculation Period</label>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>Arrears Tolerance
      <mat-checkbox></mat-checkbox>
      <label class="example-full-width2">Repaid every</label>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      Moratorium
      <mat-checkbox></mat-checkbox>
      <label class="example-full-width3">Number of days a loan may be overdue before moving into arrears</label>
      <mat-checkbox></mat-checkbox>
    </div>
    <h2>charges</h2>
    <mat-divider></mat-divider>
    <div>
      <mat-form-field>
        <mat-select placeholder="Select charge">
          <mat-option *ngFor="let charge of charges" [value]="charge.value">
            {{charge.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary">Add</button>
    </div>
    <h2>Overdue Charges</h2>
    <mat-divider></mat-divider>
    <div>
      <mat-form-field>
        <mat-select placeholder="Select overdue charge">
          <mat-option *ngFor="let duecharge of duecharges" [value]="duecharge.value">
            {{duecharge.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary">Add</button>
    </div>
    <h2>Accounting</h2>
    <mat-divider></mat-divider>
    <div>
      <mat-radio-group>
        <mat-radio-button>None</mat-radio-button>
        <mat-radio-button>Cash</mat-radio-button>
        <mat-radio-button>Accrual(periodic)</mat-radio-button>
        <mat-radio-button>Accrual(upfront)</mat-radio-button>
      </mat-radio-group>

    </div>
    <mat-divider></mat-divider>
    <button mat-raised-button color="accent">cancel</button>
    <button mat-raised-button color="primary">submit</button>
  </div>
</div>