<div class="fineract-div">System/Manage Reports/Create reports 
    <div class="example-container mat-elevation-z8">
      <br>
      <div>
      </div>
      <mat-divider></mat-divider>
      <div>
          <label class="example-full-width3">Report Name:</label>
        
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              This field is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <label>Report type</label>
          <mat-form-field class="example-full-width">
              <mat-select placeholder="Table " [formControl]="animalControl" required>
                <mat-option>Table</mat-option>
                <mat-option *ngFor="let period of periods" [value]="period">
                  {{period.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>
    
            </mat-form-field>
            <label>Report subtype</label>

            <mat-form-field class="example-full-width3">
                <mat-select placeholder="Select one">
                  <mat-option *ngFor="let charge of charges" [value]="charge.value">
                    {{charge.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        
      </div>
      <div>
      Report<br>
      Details
      <label class="example-full-width3">Report category</label>
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              short name is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-checkbox></mat-checkbox>User Input(UI)
      </div>
      <div>
          <label class="example-full-width3">Description</label>
          <mat-form-field>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
          </mat-form-field>

      </div>
      <div>
          <label>sql</label>
          <mat-form-field class="example-full-width3">
            <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
          </mat-form-field>
      </div>
      <div>
          <mat-form-field>
            <mat-select placeholder="Select charge">
              <mat-option *ngFor="let charge of charges" [value]="charge.value">
                {{charge.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary">Add</button>
        </div>
        <div class="fineract-button">
            <button mat-raised-button color="accent">cancel</button>
            <button mat-raised-button color="primary">submit</button>
          </div>
        </div>
      </div>
        