<div class="fineract-div">System/External Services/Edit External Service Configuration
    <div class="conf-div mat-elevation-z8">
      <h2>Edit External Service configuration</h2>
      <mat-divider></mat-divider>
      <div class="conf-div1">
      <div>
        <label>s3_access_key</label>
          <mat-form-field>
              <input matInput>
            </mat-form-field>
      </div>
      <div>
        <label>s3_bucket_name</label>
          <mat-form-field>
              <input matInput>
            </mat-form-field>
      </div>
      <div>
        <label>s3_secret_key</label>
          <mat-form-field>
              <input matInput>
            </mat-form-field>
      </div>
      <div class="conf-button">
        <button mat-raised-button >Cancel</button>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>
    </div>
    </div>
    