<div class="fineract-div">product / savings products / create saving
  <div class="example-container mat-elevation-z8">
    <h2>Details</h2>
    <mat-divider></mat-divider>
    <div>
      <div>
        <label>Product Name</label>
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Name is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        
      </div>
      <div>
        <label>Short name</label>
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              short name is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        
      </div>
      <div>
        <label>Description</label>
        <mat-form-field>
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
      <h2>Currency</h2>
      <mat-divider></mat-divider>
      <div>
        Currency:
        <mat-form-field>
          <mat-select placeholder="--select one--" [formControl]="animalControl" required>
            <mat-option>--select one--</mat-option>
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{currency.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

        </mat-form-field>
       <label class="example-full-width2"> Decimal places:</label>
        
          <mat-form-field class="example-full-width">
            <input matInput value="2" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Decimal places is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        

      </div>
      <div>
        Multiples of :
        
          <mat-form-field class="example-full-width">
            <input matInput value="0" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              This field is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        

      </div>
      <h2>Terms</h2>
      <mat-divider></mat-divider>
      <div>
        Norminal annual interest:
        
          <mat-form-field class="example-full-width">
            <input matInput value="0" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              This field is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        

      </div>
      <div>
        Interest compounding period:
        <mat-form-field>
          <mat-select placeholder="Daily" [formControl]="animalControl" required>
            <mat-option>Daily</mat-option>
            <mat-option *ngFor="let interestcomp of interestcomps" [value]="interestcomp">
              {{interestcomp.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

        </mat-form-field>
       <label class="example-full-width3"> Interest posting period:</label>
        <mat-form-field>
          <mat-select placeholder="Monthly" [formControl]="animalControl" required>
            <mat-option>Monthly</mat-option>
            <mat-option *ngFor="let interestpost of interestposts" [value]="interestpost">
              {{interestpost.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

        </mat-form-field>
      </div>
      <div>
        Interest calculated using:
        <mat-form-field>
          <mat-select placeholder="Daily Balance" [formControl]="animalControl" required>
            <mat-option>Daily Balance</mat-option>
            <mat-option *ngFor="let interestcalc of interestcalcs" [value]="interestcalc">
              {{interestcalc.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

        </mat-form-field>
       <label class="example-full-width3"> Days in year:</label>
        <mat-form-field>
          <mat-select placeholder="365 Days" [formControl]="animalControl" required>
            <mat-option>365 Days</mat-option>
            <mat-option *ngFor="let currency of currencies" [value]="day">
              {{day.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

        </mat-form-field>
      </div>
      <h2>Settings</h2>
      <mat-divider></mat-divider>
      <div>
        Minimum opening balance:
        
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              This field is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        

        <label class="example-full-width3">Lock-in period:</label>
        
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              This field is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <mat-select placeholder="select one " [formControl]="animalControl" required>
            <mat-option>select one</mat-option>
            <mat-option *ngFor="let period of periods" [value]="period">
              {{period.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

        </mat-form-field>



      </div>
      <div>
        Apply Withdrawal fee for transfers
        <mat-checkbox></mat-checkbox>
        Balance Required for Interest Calculation:
        
          <mat-form-field class="example-full-width3">
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              This field is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        
      </div>
      <div>
        Enforce Minimum Balance
        <mat-checkbox></mat-checkbox>
        Minimum Balance:
        
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-hint>Required!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              This field is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        
      </div>
      <div>
        Is Overdraft Allowed
        <mat-checkbox></mat-checkbox>
      </div>
      <div>
        Is Withhold tax applicable
        <mat-checkbox></mat-checkbox>
      </div>
      <div>
        Enable Dormancy Tracking
        <mat-checkbox></mat-checkbox>
      </div>
      <h2>charges</h2>
      <mat-divider></mat-divider>
      <div>
        <mat-form-field>
          <mat-select placeholder="Select charge">
            <mat-option *ngFor="let charge of charges" [value]="charge.value">
              {{charge.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary">Add</button>
      </div>
      <div>
        <mat-table #table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a routerLink="{{element.name}}">{{element.name}}</a>
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="collected">
            <mat-header-cell *matHeaderCellDef>Collected On</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.collected}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.actions}} </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <h2>Accounting</h2>
      <mat-divider></mat-divider>
      <div>
        <mat-radio-group>
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button>Cash</mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-divider></mat-divider>
      <div>
        <button mat-raised-button color="accent">cancel</button>
        <button mat-raised-button color="primary">submit</button>
      </div>
    </div>
  </div>
</div>