<div class="fineract-div">product / Recurring Deposite Product 
    <div class="example-container mat-elevation-z8">
  
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name/short name">
        </mat-form-field>
        <a mat-raised-button color="primary" [routerLink]="['/navbar/admin/products/recurringdeposite/create']">
          <mat-icon>add</mat-icon>Create Recurring deposite</a>
      </div>
      <mat-divider></mat-divider>
      <mat-table #table [dataSource]="dataSource">
  
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a routerLink="{{element.name}}">{{element.name}}</a>
          </mat-cell>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="shortname">
          <mat-header-cell *matHeaderCellDef> Short name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.shortname}} </mat-cell>
        </ng-container>
  
        
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
  